<!DOCTYPE html>
<html>
<head>
    <title>Attendance System</title>
</head>
<body>

<h2>Student List</h2>

<table border="1" cellpadding="10">
<tr>
    <th>Name</th>
    <th>Roll No</th>
    <th>Action</th>
</tr>

{% for student in students %}
<tr>
    <td>{{ student.name }}</td>
    <td>{{ student.roll_no }}</td>
    <td>
        <a href="{% url 'mark' student.id 'Present' %}">Present</a> |
        <a href="{% url 'mark' student.id 'Absent' %}">Absent</a>
    </td>
</tr>
{% endfor %}

</table>

</body>
</html>